__pycache__
/.pytest_cache
/.vscode
/.env
/.idea
/.venv
/.mypy_cache
#macos
/.DS_Store
# quart
instance/

#db
foobar.db
test.db
# copier
**/*.rej
github_backend/.env
# mypy
.mypy_cache
#coverage
.coverage
# Always include the env for deploys
!/k8s/**/*.env